#on: [push, pull_request]
on: 
    push:
        branches: ['**']
        tags-ignore: ['**']  # Ignore all tag pushes
    pull_request:
    #pull_request_target: # This would run the old version of the actions, which could cause confusions...
jobs:
 # This job may be commented if a new release should not be created...
 deploy:
    runs-on: ubuntu-latest
    steps: 
    - uses: softprops/action-gh-release@v2
      id: create_release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        draft: true
        tag_name: autotagname-${{ github.sha }}
      if: github.event_name != 'pull_request'
 build:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ubuntu-latest, windows-latest]
            python-version: [3.14]
            include:
            - os: ubuntu-latest
              deploy-file: ./Hello
            - os: windows-latest
              deploy-file: ./Debug/Hello.exe
    steps: 
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - run: |
        cmake . && cmake --build . && ${{ matrix.deploy-file }}
        python -c "import sys; print(sys.version)"
        ls -l
      shell: bash
    - uses: xresloader/upload-to-github-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        file: "${{ matrix.deploy-file }}"
        overwrite: true
        tag_name: autotagname-${{ github.sha }}
      if: github.event_name != 'pull_request'
